AZURE_STORAGE_ACCOUNT_URL="Portal → your Storage Account → settings -> Endpoints (left menu) → copy the Blob service URL."
AZURE_STORAGE_CONTAINER="after creating a container in your storage account, copy the name of the container here."
AZURE_STORAGE_SAS_TOKEN="""
Where to get a SAS token: Portal → Storage Account → left menu:

1. Container-level SAS (recommended): Portal → your Storage Account → Data storage → Containers → click your container → Generate SAS
2. Account-level SAS: Portal → Storage Account → Security + networking → Shared access signature → Select Allowed services (Blob/File/Queue/Table) → Select Resource types (Service, Container, Object) → Set Permissions & Expiry → Generate SAS
"""

APPLICATION_CLIENT_ID="mention in notes how to get it"
DIRECTORY_TENANT_ID="mention in notes how to get it"
AZURE_CLIENT_SECRET_VALUE="mention in notes how to get it"

